.login-form {
  min-width: 350px;
  margin:auto;
  border: 2px solid black;
  padding: 50px;
  background-color: #fff;
  /* background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% ); */
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.container{
  background-color: #024351;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
